<section id="testimonios" data-anchor-scroll="testimonios" class="testimonials">
  <div class="testimonials__wrapper">
    <h2 class="testimonials__title wow animated fadeIn" data-wow-delay="0.1s">Testimonios</h2>
    <div class="spacer" data-height="60"></div>
    <div class="testimonials__content wow animated fadeIn" data-carousel data-carousel-autoplay="true" data-carousel-interval="8" data-wow-delay="0.3s">
      {{#each testimonials}}
        <div class="testimonials__item">
          <img class="testimonials__item-thumb" loading="lazy" src="{{imagePath}}" alt="{{name}}" />
          <h4>{{name}}</h4>
          <span>{{jobEsEs}}</span>
          <div class="testimonials__item-baloon">
            <p>{{textEsEs}}</p>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</section>
