<section id="{{resources.about.id}}" data-anchor-scroll="{{resources.about.id}}" class="about">
  <div class="about__wrapper">
    <h2 class="about__title wow animated fadeIn" data-wow-delay="0.1s">{{resources.about.title}}</h2>
    <div class="spacer" data-height="60"></div>
    <div class="about__content">
      <div class="about__image wow animated fadeIn" data-wow-delay="0.1s">
        <img loading="lazy" src="./assets/images/general/persona.jpg" alt="{{resources.general.name}}" />
        <div class="spacer only-mobile" data-height="30"></div>
      </div>
      <div class="about__balloon wow animated fadeIn" data-wow-delay="0.3s">
        <div class="about__balloon-text">
          <p>{{{resources.about.description}}}</p>
          <div class="spacer only-mobile" data-height="30"></div>
        </div>
      </div>
    </div>
  </div>
</section>
