<section id="intro" data-anchor-scroll="intro" class="intro">
  <div class="intro__wrapper">
    <p class="intro__name">{{resources.general.name}}</p>
    <p class="intro__text">{{resources.intro.i-am}}
      <span class="animated text-rotating" data-morphext>
        {{resources.intro.description}}
      </span>
    </p>
    <div class="intro__social">
      <a class="wow animated fadeIn" title="E-mail Lucas Rinaldi" target="_blank" href="mailto:contact@rinaldilucas.com">
        <i class="fa fa-envelope"></i>
      </a>
      <a class="wow animated fadeIn" title="LinkedIn Lucas Rinaldi" target="_blank" href="https://linkedin.com/in/rinaldilucas">
        <i class="fa fa-linkedin"></i>
      </a>
      <a class="wow animated fadeIn" title="Github Lucas Rinaldi" target="_blank" href="https://github.com/rinaldilucas">
        <i class="fa fa-github"></i>
      </a>
      <a class="wow animated fadeIn" title="WhatsApp Lucas Rinaldi" target="_blank"
        href="https://api.whatsapp.com/send?1=pt_BR&amp;phone=5543996168589">
        <i class="fa fa-whatsapp"></i>
      </a>
      <a class="wow animated fadeIn" title="Telegram Lucas Rinaldi" target="_blank" href="https://t.me/rinaldilucas">
        <i class="fa fa-telegram"></i>
      </a>
      <a class="wow animated fadeIn" title="Spotify Lucas Rinaldi" target="_blank"
        href="https://open.spotify.com/artist/7CeTc1x4i9kiCDJyG3DGrV">
        <i class="fa fa-spotify"></i>
      </a>
    </div>
    <a target="_blank" href="{{resources.intro.curriculum.link}}" title="{{resources.intro.curriculum.title}}"
      class="intro__button wow animated fadeIn">Curriculum Vitae</a>
    <div class="intro__language wow animated fadeIn">
      <a data-flag-english title="{{resources.intro.go-to-english}}" href="./" class="intro__flag">
        <img src="./assets/images/general/flag-en.svg">
      </a>
      <a data-flag-spanish title="{{resources.intro.go-to-spanish}}" href="./es/" class="intro__flag">
        <img src="./assets/images/general/flag-es.svg">
      </a>
      <a data-flag-brazil title="{{resources.intro.go-to-portuguese}}" href="./br/" class="intro__flag">
        <img src="./assets/images/general/flag-br.svg">
      </a>
    </div>
  </div>
  <div class="intro__scroll">
    <a title="{{resources.intro.see-more.title}}" href="{{resources.intro.see-more.link}}"
      class="intro__scroll-wrapper wow animated fadeIn">
      <span>{{resources.intro.see-more.title}}</span>
      <span class="intro__scroll-mouse">
        <span class="intro__scroll-wheel"></span>
      </span>
    </a>
  </div>

  {{> components/parallax}}
</section>
