<section id="{{resources.repositories.id}}" data-anchor-scroll="{{resources.repositories.id}}" class="blocks">
  <div class="blocks__wrapper">
    <h2 class="blocks__title wow animated fadeIn" data-wow-delay="0.1s">{{resources.repositories.title}}</h2>
    <div class="spacer" data-height="60"></div>
    <div class="blocks__content">
      {{#each repositories}}
        <div class="blocks__item wow animated fadeIn" data-wow-delay="0.1s">
          <a class="blocks__item-image" title="{{name}}" href="{{link}}" target="_blank">
            <div class="blocks__item-details">
              <h4 class="blocks__item-title">{{name}}</h4>
            </div>
            <div class="blocks__item-thumb">
              <img loading="lazy" src="{{src}}" alt="{{name}}" title="{{name}}" />
              <div class="blocks__item-mask"></div>
            </div>
          </a>
        </div>
      {{/each}}
    </div>
  </div>
</section>