<section id="{{resources.testimonials.id}}" data-anchor-scroll="{{resources.testimonials.id}}" class="testimonials">
  <div class="testimonials__wrapper">
    <h2 class="testimonials__title wow animated fadeIn" data-wow-delay="0.1s">{{resources.testimonials.title}}</h2>
    <div class="spacer" data-height="60"></div>
    <div class="testimonials__content wow animated fadeIn" data-carousel data-carousel-autoplay="true" data-carousel-interval="8" data-wow-delay="0.3s">
      {{#each testimonials}}
        <div class="testimonials__item">
          <img class="testimonials__item-thumb" loading="lazy" src="{{src}}" alt="{{name}}" />
          <h4>{{name}}</h4>
          <span>{{title}}</span>
          <div class="testimonials__item-balloon">
            <p>{{text}}</p>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</section>