<section id="trabalhos" data-anchor-scroll="trabalhos" class="portfolio">
  <div class="portfolio__wrapper">
    <h2 class="portfolio__title wow animated fadeIn" data-wow-delay="0.1s">Trabalhos</h2>
    <div class="spacer" data-height="60"></div>
    <div class="portfolio__content">
      {{#each portfolio}}
        <div class="portfolio__item wow animated fadeIn" data-wow-delay="0.4s">
          <a class="portfolio__item-image" title="{{namePtBr}}" data-portfolio-anchor data-disclaimer="{{disclaimerPtBr}}" data-image="{{id}}">
            <div class="portfolio__item-details">
              <h4 class="portfolio__item-title">{{namePtBr}}</h4>
            </div>
            <div class="portfolio__item-thumb">
              <img loading="lazy" src="{{logoPath}}" alt="{{namePtBr}}" title="{{namePtBr}}" />
              <div class="portfolio__item-mask"></div>
            </div>
          </a>
        </div>
      {{/each}}
    </div>
  </div>
</section>
