<header class="header">
  <div class="header__wrapper">
    <a title="{{resources.header.visit-source-code}}" target="_blank" class="header__code only-desktop" href="https://github.com/rinaldilucas/personal-portfolio">
      <i class="fa fa-cogs"></i>{{resources.header.source-code}}
    </a>
    <img class="header__logo" src="./assets/images/general/typo.svg" alt="{{resources.general.logo-alt}}" />

    <label class="header__button" for="header__button-input" data-header-label>
      <input type="checkbox" id="header__button-input" data-header-toggle />
      <span></span>
      <span></span>
      <span></span>
    </label>

    <nav class="header__nav" data-header-nav>
      <ul class="header__menu">
        <li><a title="{{resources.header.menu.home.title}}" href="{{resources.header.menu.home.link}}" class="header__link active" data-header-link="#intro"><i class="icon-home"></i>{{resources.header.menu.home.title}}</a></li>
        <li><a title="{{resources.header.menu.about.title}}" href="{{resources.header.menu.about.link}}" class="header__link" data-header-link="#sobre"><i class="icon-user-following"></i>{{resources.header.menu.about.title}}</a></li>
        <li><a title="{{resources.header.menu.services.title}}" href="{{resources.header.menu.services.link}}" class="header__link" data-header-link="#servicos"><i class="icon-briefcase"></i>{{resources.header.menu.services.title}}</a></li>
        <li><a title="{{resources.header.menu.hubcomercial.title}}" href="{{resources.header.menu.hubcomercial.link}}" class="header__link" data-header-link="#hub"><i class="icon-link"></i>{{resources.header.menu.hubcomercial.title}}</a></li>
        <li><a title="{{resources.header.menu.experience.title}}" href="{{resources.header.menu.experience.link}}" class="header__link" data-header-link="#experiencia"><i class="icon-graduation"></i>{{resources.header.menu.experience.title}}</a></li>
        <li><a title="{{resources.header.menu.works.title}}" href="{{resources.header.menu.works.link}}" class="header__link" data-header-link="#trabalhos"><i class="icon-docs"></i>{{resources.header.menu.works.title}}</a></li>
        <li><a title="{{resources.header.menu.testimonials.title}}" href="{{resources.header.menu.testimonials.link}}" class="header__link" data-header-link="#depoimentos"><i class="icon-pencil"></i>{{resources.header.menu.testimonials.title}}</a></li>
        <li><a title="{{resources.header.menu.repositories.title}}" href="{{resources.header.menu.repositories.link}}" class="header__link" data-header-link="#repositorios"><i class="icon-grid"></i>{{resources.header.menu.repositories.title}}</a></li>
        <li><a title="{{resources.header.menu.contact.title}}" href="{{resources.header.menu.contact.link}}" class="header__link" data-header-link="#contato"><i class="icon-bubbles"></i>{{resources.header.menu.contact.title}}</a></li>
        <li><a title="{{resources.header.visit-source-code}}" target="_blank" class="header__code only-mobile" href="https://github.com/rinaldilucas/personal-portfolio"><i class="fa fa-cogs"></i>{{resources.header.source-code}}</a></li>
      </ul>
    </nav>

    <div class="header__footer">
      <a target="_blank" title="{{resources.header.links.decrypto.title}}" href="{{resources.header.links.decrypto.link}}" class="header__websites" data-header-link>decryptomusic.com</a>
      <a target="_blank" title="{{resources.header.links.hubcomercial.title}}" href="{{resources.header.links.hubcomercial.link}}" class="header__websites" data-header-link>hubcomercial.com</a>
      <p data-header-copyright class="header__text"></p>
    </div>
  </div>
</header>
