<section id="{{resources.hub.id}}" data-anchor-scroll="{{resources.hub.id}}" class="hub">
  <div class="hub__wrapper">
    <h2 class="hub__title wow animated fadeIn" data-wow-delay="0.1s">{{resources.hub.title}}</h2>
    <div class="spacer only-desktop" data-height="60"></div>
    <div class="hub__content">
      <div class="hub__text wow animated fadeIn" data-wow-delay="0.3s">
        <h1>{{resources.hub.text}}</h1>
        <p>{{{resources.hub.sub-text}}}</p>
        <a class="hub__button" target="_blank" title="{{resources.hub.cta.title}}" href="{{resources.hub.cta.link}}">{{resources.hub.cta.text}}</a>
      </div>
      <div class="hub__image wow animated fadeIn" data-wow-delay="0.4s">
        <img loading="lazy" alt="{{resources.hub.alt}}" src="./assets/images/general/hubcomercial.png">
      </div>
    </div>
  </div>
</section>
